*{
    margin: 0 auto;
    padding: 0;
    color: rgb(237, 179, 4);
    text-align: center;
}

body{
    background-image: url("/sources/bookshelfBackground.jpg");
}

.heading{
    margin: 40px;
    font-size: 5rem;
    text-decoration: underline;
}

ul{
    list-style: none;
}

li{
    text-align: center;
    width: 600px;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(23, 14, 0, 0.878);
}

h1, h2, h3{
    background-color: transparent;
    margin: 10px;
}

h1{
    text-decoration: underline;
}



